{% block secondary %}{% endblock %}

{% block primary %}
  <article class="module" role="main">
    <div class="module-content">
      {% block aup %}
          <h1 class="page-heading">
            {% block aup_subtitle %}
              {{ _('Acceptable Use Policy') }}
            {% endblock %}
          </h1>
          <p>
          Revision {{ h.aup_published() }}
          </p>
          {% snippet 'snippets/acceptable_use.html' %}
          {% snippet 'ckanext_aup/aup_form.html' %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

