{% block subtitle %}{{ _('Acceptable Use Policy') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Acceptable Use Policy'), 'aup' %}</li>
{% endblock %}

{% block primary %}
  <article class="module" role="main">
    <div class="module-content">
      {% block aup %}
          <h1 class="page-heading">{{ _('Acceptable Use Policy') }}</h1>
          <p>
          Revision FIXME
          </p>
          {% snippet 'snippets/acceptable_use.html' %}
          {% snippet 'ckanext_aup/aup_form.html' %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
