{% extends "page.html" %}

{% block subtitle %}{{ _('Acceptable Use Policy') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('About'), named_route='home.about' %}</li>
  <li class="active">{% link_for 'Acceptable Use Policy', named_route='aup.aup_published' %}</li>
{% endblock %}

{% block primary %}
  <article class="module" role="main">
    <div class="module-content">
      {% block aup %}
          <h1 class="page-heading">{{ _('Acceptable Use Policy') }}</h1>
          <p>
          Revision {{ h.aup_published() }}
          </p>
          {% snippet 'snippets/acceptable_use.html' %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
